select#topic1 { width: 90%; }

.tbo-listing{border-bottom: 2px solid #F2F1F0;padding-bottom: 10px;}
.tbo-listing > li > ul{
  /*list-style-image: url('++resource++ilo.qa/qa-icon.png');*/
  padding-left: 20px;
}
.tbo-listing > li > ul li a:first-child{
 /* margin-left: -20px;*/
  margin-right: 10px;
  text-decoration: none;
  font-size: 12px;
}
.tbo-title,
.tbo-email,
.tbo-heading{
  font-weight: bold;
}
.tbo-heading,
.tbo-email{
  /*border-bottom: 1px solid #F2F1F0;*/
  margin-bottom: 5px;
}
.tbo-heading:after,
.tbo-email:after{
  content: " ";
  display: block;
  /*border-top: 1px solid #ccc;*/
  margin-top: 5px;
}
.tbo-heading span:nth-child(1)[]
.tbo-email span:nth-child(2){
  color: #205c90;
}
.tbo-left{
  float: left;
  width: 70%;
}
.tbo-right{
  float: right;
  width: 25%;
}
.tbo-left span:nth-child(3){
  color: #205c90;
}
.tbo-right img{
  width: 100%;
}

.alert-box {
  border-style: solid;
  border-width: 1px;
  display: block;
  font-weight: normal;
  margin-bottom: 1em;
  position: relative;
  padding: 0.875em 1.5em 0.875em 0.875em;
  font-size: 12px;
  transition: opacity 300ms ease-out;
  background-color: #00033f;
  border-color: #000336;
  color: white;
}
.alert-box.info {
  background-color: #a0d3e8;
  border-color: #74bfdd;
  color: #4f4f4f;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.text-justify {
  text-align: justify !important;
}
.state-sign{
        margin: 0 0 1em;
}

/*button*/
ul.listing-btn{
  padding-left: 0 !important;
}
ul.listing-btn li.list-btn{
  text-align: left !important; 
}
ul.listing-btn li.list-btn a:first-child{
  float: right;
  position: relative;
  text-decoration: none;
  border-bottom: none;
  margin: 0;
  padding: 3px;
}
ul.listing-btn li.list-btn a:first-child i:first-child{
  font-size: 16px !important;
  color: #000;
  text-shadow: none;
}
ul.listing-btn li.list-btn a:first-child i:last-child{
  vertical-align: sub;
  font-size: 10px !important;
  color: #000;
  text-shadow: none;
    box-shadow: -1px 1px 1px #fff;
    border-radius: 50%;
}
.button.tiny{
  padding: 3px 12px 5px 12px;
  font-size:12px;
}
.button {
  -moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
  box-shadow:inset 0px 0px 0px 0px #ffffff;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
  background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
  background-color:#ededed;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#777777;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-align: center;
  text-shadow:0px 1px 0px #ffffff;
}

.button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
  background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
  background-color:#dfdfdf;
}
.button:active {
  position:relative;
  top:1px;
}
.button.expand {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.button.add-btn:before{
  content: "+";
  display: inline-block;
  margin-right: 4px;
  background-color: #fff;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  border-radius: 50px;
}

/*light orange button*/
.button.l-orange-btn {
  -moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
  -webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
  box-shadow:inset 0px 1px 0px 0px #fce2c1;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25));
  background:-moz-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
  background:-webkit-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
  background:-o-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
  background:-ms-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
  background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25',GradientType=0);
  background-color:#ffc477;
  border:1px solid #eeb44f;
  color:#ffffff !important;
  text-shadow:0px 1px 0px #cc9f52;
}
.button.l-orange-btn:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477));
  background:-moz-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
  background:-webkit-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
  background:-o-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
  background:-ms-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
  background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477',GradientType=0);
  background-color:#fb9e25;
}

.topiclistportlet .portletItem{
  padding: 0 !important;
}
.topiclistportlet .portletItem > table{
  /*font-size: 90%;*/
}
.topiclistportlet .portletItem > table td{
  padding: 5px;
}


/**
 * Tooltip Styles
 */
a.tooltips{position:relative;display:inline}
a.tooltips span{position:absolute;width:100px;color:#FFF;background:#000;height:30px;line-height:30px;text-align:center;visibility:hidden;border-radius:6px;font-weight:400;text-shadow:none}
a.tooltips span:after{content:'';position:absolute;top:100%;left:50%;margin-left:-8px;width:0;height:0;border-top:8px solid #000;border-right:8px solid transparent;border-left:8px solid transparent}
a:hover.tooltips span{visibility:visible;opacity:.8;bottom:30px;left:50%;margin-left:-50px;z-index:999}

a.tooltips.large,
a.tooltips.large span{width: 180px}
a:hover.tooltips.large span{left: 25%}

a.tooltips.large-tooltip span{width: 130px}
a:hover.tooltips.large-tooltip span{left: 25%}